<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Primary Meta Tags -->
<title>SEO Specialist, Web Designer & Web Developer | epergaboni</title>
<meta name="title" content="SEO Specialist, Web Designer & Web Developer | epergaboni">
<meta name="description" content="Hi, I’m Eper Gaboni, Philippine based SEO Specialist, Web Designer, & Web Developer. Focused on crafting beautiful & user-friendly experiences. I’ve built roughly 768 user interfaces around the globe.">
<script type="application/ld+json">
{"@type":"WebSite","url":"/","author":{"@type":"Person","name":"Eper Gaboni"},"headline":"SEO Specialist, Web Designer &amp; Web Developer","description":"My Profile page","name":"epergaboni","@context":"https://schema.org"}</script>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://epergaboni.com/">
<meta property="og:title" content="SEO Specialist, Web Designer & Web Developer | epergaboni">
<meta property="og:description" content="SEO Specialist, Web Designer, & Web Developer. Focused on crafting beautiful & user-friendly experiences.">
<meta property="og:image" content="https://epergaboni.com/assets/img/imgog.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://epergaboni.com/">
<meta property="twitter:title" content="SEO Specialist, Web Designer & Web Developer | epergaboni">
<meta property="twitter:description" content="SEO Specialist, Web Designer, & Web Developer. Focused on crafting beautiful & user-friendly experiences.">
<meta property="twitter:image" content="https://epergaboni.com/assets/img/imgog.jpg">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
</head>
